{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h2>Liste des voitures <a href="{{ url('voiture_new') }}" class="btn btn-success">+ Ajouter</a></h2>
    {% for voiture in voitures %}
		<div class="card">
	        <div class="row no-gutters">
	            <div class="col-auto">
	                <img src="{{ asset(['voiture/', voiture.photoPrincipale ]|join) }}"  width="180" class="img-fluid" alt="">
	            </div>
	            <div class="col">
	                <div class="card-block px-2">
	                	<table style="width: 100%">
	                		<thead>
	                			<th><h4 class="card-title">{{ [voiture.marque, voiture.modele]|join(' ') }} </h4></th>
	                		</thead>
	                		<tbody>
	                			<tr>
	                				<td colspan="4">
	                					<p class="card-text"><b>Description :</b></br>{{ voiture.description }}</p>
	                				</td>
	                				<td style="width: 100px">
	                					<a href="{{ path('voiture_edit', {'id':voiture.id}) }}" class="btn btn-warning">Modifier</a>
	                				</td>
	                				<td style="width: 0px">
	                					<form action="{{ path('voiture_delete', {'id':voiture.id}) }}" method="POST" enctype="multipart/form-data">
	                					<button class="btn btn-danger">Supprimer</button>
	                					</form>
	                				</td>
	                			</tr>
	                			<tr>
	                				<td><b>Finition : </b>{{ voiture.finition }}</td>
	                				<td><b>Année : </b>{{ voiture.annee }}</td>
	                				<td><b>Puissance : </b>{{ voiture.puissance }} ch</td>
	                				<td><b>Prix : </b>{{ voiture.prix }} €</td>
	                				<td></td>
	                			</tr>
	                		</tbody>
	                	</table>
	                </div>
	            </div>
	        </div>
	    </div>
   {% endfor %}

<div class="pagination">
    {{ knp_pagination_render(voitures, 'twitter_bootstrap_v4_pagination.html.twig') }}
</div>

{% endblock %}